.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: blueviolet;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.image-grid img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

canvas {
  border: 2px solid white;
  margin-top: 20px;
}
